<!--mat-drawer-container class="app-children-container" autosize>
    <mat-drawer #drawer class="app-children-sidenav"  mode="side" opened>
        <div fxLayout="row">
            <span fxFlex *ngIf="expandDrawer"></span> <button (click)="expandDrawer = !expandDrawer" mat-button> <mat-icon>{{expandDrawer?'menu_open':'menu'}}</mat-icon> </button>
        </div>
        <mat-nav-list>
            <a mat-list-item routerLink="/seguridad/permisos" > 
                <mat-icon matListIcon>lock</mat-icon> <h3 matLine *ngIf="expandDrawer"> Permisos </h3> 
            </a>
            <a mat-list-item routerLink="/seguridad/roles" > 
                <mat-icon matListIcon>people_alt</mat-icon> <h3 matLine *ngIf="expandDrawer"> Roles </h3> 
            </a>
        </mat-nav-list>
    </mat-drawer>
    <main fxFlex>
        <router-outlet name="security-outlet"></router-outlet>
    </main>
</mat-drawer-container-->