<section class="not-found" fxLayout fxLayoutAlign="center center">
  <br>
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center center"></mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <div style="margin:10px">
          <mat-icon color="warn" style="transform: scale(4); margin:1em;">error</mat-icon>
        </div>
        <section class="mat-typography">
          <br>
          <h1 style="font-weight: bold;">Parece que te haz perdido</h1>
          <h2>Lo sentimos, la página que estas buscando no existe.</h2>
        </section>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxAlignItems="center" fxLayoutGap="10px">
        <a mat-button routerLink="/">Ir a la página principal</a>
      </mat-card-actions>
    </mat-card>
  </section>