<mat-toolbar color="primary"  class="">
    <!--button mat-icon-button aria-label="Ir al inicio" routerLink="/" fxShow.xs fxHide.gt-sm>
      <mat-icon>home</mat-icon>
    </button-->

    <button mat-icon-button [routerLink]="'/apps'" fxHide.xs="true" *ngIf="selectedApp">
      <mat-icon aria-label="Home">apps</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="(selectedApp)?selectedApp.route:'/apps'" fxHide.xs="true">
      <img src="{{(selectedApp)?selectedApp.icon:'assets/app-icon.svg'}}" alt="" style="height: 40px; width:auto;" fxHide.xs="true">
    </button>
    
    <!-- <img src="{{(selectedApp)?selectedApp.icon:'assets/logo-white.svg'}}" alt="" style="height: 60%; width:auto;" fxHide.xs="true"> -->


    <span style="margin-left:10px" *ngIf="!selectedApp">
      <a routerLink="/">Plataforma Base</a>
    </span>
    <span *ngIf="selectedApp">&nbsp;
      <a routerLink="{{selectedApp.route}}">{{selectedApp.name}}</a>
    </span>

    <span class="spacer"></span>

    <ng-template [ngIf]="isAuthenticated">
      <!--button mat-icon-button color="white" [matMenuTriggerFor]="menuApps" fxHide.xs>
        <mat-icon aria-label="Apps">apps</mat-icon>
      </button-->

      <button mat-icon-button aria-label="Mostrar Sidenav" (click)="toggleSidenav()" fxShow.xs fxHide.gt-xs>
        <img src="{{user.avatar}}" alt="" style="width:auto; margin:auto">
        <!--mat-icon>menu</mat-icon-->
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menuAccount" fxHide.xs="xs">
        <!--mat-icon svgIcon="user-icon" aria-label="Avatar"></mat-icon-->
        <img src="{{user.avatar}}" alt="" style="width:auto; margin:auto">
      </button>

      <!--mat-menu #menuApps="matMenu">
        <div class="apps" fxLayout="row" fxLayoutAlign="center center">
          <ng-container *ngFor="let app of apps; let i = index">
              <figure [routerLink]="['/'+app.route]" *ngIf="i<12" matTooltip="{{app.name}}">
                  <img src="{{ app.icon }}" alt="Icon">
                  <figcaption class="ellipsis">{{ app.name }}</figcaption>
              </figure>
          </ng-container>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item style="text-align:center" routerLink="/apps">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-menu-->

      <mat-menu #menuAccount="matMenu">
        <div style="width:280px;" style="display:flex; justify-content: start center">
          <img src="{{user.avatar}}" alt="" style="width:80px; margin:10px">
          <div style="width:160px; margin:10px;  display: flex; flex-direction:column; justify-content: center; font-size:0.8em;">
            <strong>{{user.name}}</strong>
            <small style="color:#777">{{user.email}}</small>
            <br>
            <button mat-button mat-raised-button color="primary" routerLink="/profile">
                <mat-icon>account_circle</mat-icon> 
                <span>&nbsp;Editar cuenta</span>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        
        <div>
          <div class="apps" fxLayout="row" fxLayoutAlign="center center">
            <ng-container *ngFor="let app of apps; let i = index">
                <figure [routerLink]="['/'+app.route]" *ngIf="i<9">
                    <img src="{{ app.icon }}" alt="Icon">
                    <figcaption class="ellipsis">{{ app.name }}</figcaption>
                </figure>
            </ng-container>
          </div>
          <button mat-menu-item style="text-align:center" routerLink="/apps">
            <mat-icon>apps</mat-icon>
          </button>
        </div>

        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </ng-template>

    <ng-template [ngIf]="!isAuthenticated">
      <a routerLink="/login"><mat-icon>account_circle</mat-icon></a>
    </ng-template>
  </mat-toolbar>