<section class="welcome" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
    <div class="mat-typography" [ngStyle]="{'width':'80%'}" [ngStyle.gt-xs]="{'width':'400px'}">    
      <div><img style="width:50%"src="assets/logo-white.svg" alt=""></div>
      <h1 class="headline">Plataforma Base</h1>
      <h2 class="title">Plataforma Base a usar en los desarrollos para el Instituto de Salud del Estado del Chiapas.</h2>
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px" style="width:100%">
          <div fxFlex>
              <img  src="assets/Logo Salud Fed Horiz 2018-2024-01-blanco.svg" width="100%" alt="" style="text-shadow: 1px 1 1; ">
          </div>
          <!--div fxFlex>
              <img  src="assets/logo-gobierno-chiapas-white.png" width="100%" alt="" style="text-shadow: 1px 1 1; ">
          </div-->
          <div fxFlex>
              <img  src="assets/Logo Sec Salud Chis_2018-2024-01-blanco.svg" width="100%" alt="" style="text-shadow: 1px 1 1; ">
          </div>
      </div>
    </div>
  </section>