.roles-container {
    position: relative;
    min-height: 200px;
}

.roles-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

.roles-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

table {
    width: 100%;
}

.no-results-found{
    text-align: center;
    font-style: italic;
}

.loading-results{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    font-style: italic;
}

.loading-results mat-spinner{
    margin:0 auto;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}

/* Column Widths */
.mat-column-actions{
  max-width: 60px;
  min-width: 60px;
}

.hide{
    display: none;
}